  {%- assign collection = collections[section.settings.collection] -%}
  {%- assign product_limit = section.settings.grid  -%}
    {% for product in collection.products limit: product_limit %}
<div class="product-popup-wrapper" data-popup="{{ product.title }}">
    <div>
        <div>
            <ul class="product-popup-image-slider">
              {% for image in product.images %}
                  <li>
                    <img src="  {{ image | img_url:"master" }}"/>
              </li>
{% endfor %}
          
            </ul>
          
          <div class="img-des">
           <div>“We crafted our vitamin formulas to the highest standards and transparency, using only the most effective natural and clinical ingredients.” 
            </div>
          </div>
          <div class="product-description product-description-for-desktop product-description-{{ product.title }}">
            <h2>How can {{ product.title }} help you?</h2>

            {% if product.title contains "Stamina" %}
            <p>Do you experience the mid-afternoon crash, find it hard to apply your brain to tasks, or struggle to motivate yourself? </p>

            <p>Many of us find it hard to maintain our focus and energy levels throughout the day. Finding a balance between work, relationships, exercise and leisure time can be difficult to manage. 
            </p>
              
              <p>Stamina, with its unique blend of nootropics, adaptogens and clinically-proven ingredients can help optimise your energy and focus. Nootropics boost the blood flow to your brain cells, enhancing your attention span, cognition and memory, and increasing your ability to feel alert and awake. Adaptogens stimulate your body’s ability to protect you from stress, combating fatigue and balancing your hormone response.
              </p>
              <div class="des-badges des-badges-{{ product.title }}">
                <div class="des-badge">Stimulate Cognition</div>
                <div class="des-badge">Enhance <br> Vitality</div>
                <div class="des-badge">Regulate <br> Mood</div>
                <div class="des-badge">Increase Immunity</div>
              </div>
              <h4>Why should I choose Legacy Vitamins?</h4>
                <p>
                 Many generic vitamins are low-quality and difficult for your body to absorb, so we don’t use them. Our capsules include only the most effective, clinically-proven ingredients and natural extracts. </p>

                 <p> Transparency is important to us, which is why we don’t hide what goes into our unique vitamin blends. We don’t pad our products out with filler, artificial colours, sweeteners, sugar or caffeine, and we’ve sought out the best possible extracts for maximum efficacy.</p>

                
                <h4> How quickly will I notice a difference?</h4>
                <p>You’ll feel some of Stamina’s active ingredients begin to work after just a few hours. You’re likely to feel brighter and more alert from day one, although some of the ingredients have a compounding effect and need to be taken for several weeks before they start to have an effect on your body. </p>

                  <p>You’ll notice improvements building over time, and our refill system makes it easy to stick to your routine.
                  </p>

                <p>Some of the ingredients have a compounding effect that you will notice getting stronger over time, so we’ve made it easy for you to stick to a routine with our refill system.</p>

                <h4>Refill Reminder</h4>
                <p>Don’t forget to keep your green lid and base as you will only receive the inner unit from us when you order a new refill</p> 
                
              {% endif %}

            {% if product.title contains "Remedy" %}
            <p>Do you find it hard to get enough good quality sleep, recover from aches and pains, or fight off colds and infections? </p>

            <p>Our frantic modern lifestyles can make it challenging for us to look after our bodies and get enough rest, leaving many of us feeling run-down and fragile. </p>
              
              <p>Remedy contains a powerful blend of antioxidants, fruit extracts, adaptogens and clinically-proven ingredients to help your body regain strength, optimising your ability to rest and recover. Antioxidants can help prevent or slow damage to your cells, and are found in high levels in fruit extracts, particularly Elderberry. Adaptogens can boost your immune system, help your body deal with stress, improve the function of your bodily systems and calm inflammation.
              </p>
              <div class="des-badges des-badges-{{ product.title }}">
                <div class="des-badge">Rejuvenate <br> Body</div>
                <div class="des-badge">Lower Inflammation</div>
                <div class="des-badge">Regulate <br> Mood</div>
                <div class="des-badge">Strengthen Immunity</div>
              </div>
              <h4>Why should I choose Legacy Vitamins?</h4>
                <p>
                 Many generic vitamins are low-quality and difficult for your body to absorb, so we don’t use them. Our capsules include only the most effective, clinically-proven ingredients and natural extracts. </p>

                 <p> Transparency is important to us, which is why we don’t hide what goes into our unique vitamin blends. We don’t pad our products out with filler, artificial colours, sweeteners, sugar or caffeine, and we’ve sought out the best possible extracts for maximum efficacy.</p>

                
                <h4> How quickly will I notice a difference?</h4>
                <p>You will notice the effects of Remedy after just a few days. You can expect to feel your energy levels increase, and to wake up feeling refreshed. To stimulate your immune system and to promote recovery, take Remedy with your first meal of the day. </p>

                  <p>Most of the ingredients have a compounding effect that will improve the strength of your immune system over time, so we’ve made it easy for you to stick to a routine with our refill system.
                  </p>

                <h4>Refill Reminder</h4>
                <p>Don’t forget to keep your green lid and base as you will only receive the inner unit from us when you order a new refill</p> 
                
              {% endif %}

            {% if product.title contains "Mind" %}
            <p>Do you feel as though you are stressed and anxious too often? Do you find it hard to switch off your thoughts and relax, or to focus on the task at hand? </p>

            <p>Many of us feel as though we are under constant pressure, and it can be difficult to unwind and feel calm even when we make time to do so. </p>
              
              <p>Mind is your tranquility ally: it contains a unique blend of advanced-form nootropics, adaptogens, antioxidants and amino acids to help you alleviate the effects of stress and feel more balanced. Nootropics promote a healthy brain structure and can help with mood and long-term cognitive function, while adaptogens can increase your resistance to stress and help balance your emotions. Antioxidants help improve cellular function and amino acids stimulate the release of dopamine and serotonin, making you feel happier.
              </p>
              <div class="des-badges des-badges-{{ product.title }}">
                <div class="des-badge">Seratonin Amplification</div>
                <div class="des-badge">Anti-Anxiety</div>
                <div class="des-badge">Brighten Mood</div>
                <div class="des-badge">Stimulate Dopamine</div>
              </div>
              <h4>Why should I choose Legacy Vitamins?</h4>
                <p>
                 Many generic vitamins are low-quality and difficult for your body to absorb, so we don’t use them. Our capsules include only the most effective, clinically-proven ingredients and natural extracts. </p>

                 <p> Transparency is important to us, which is why we don’t hide what goes into our unique vitamin blends. We don’t pad our products out with filler, artificial colours, sweeteners, sugar or caffeine, and we’ve sought out the best possible extracts for maximum efficacy.</p>

                
                <h4> How quickly will I notice a difference?</h4>
                <p>You can expect to feel the effects of Mind within a few hours, and you can choose when to take it depending on the result you would like to achieve. To elevate your focus and mental clarity, take Mind with your first meal of the day. Take it later in the day to help you wind down and fight stressors. </p>

                  <p>Some of the ingredients have a compounding effect that you will notice getting stronger over time, so we’ve made it easy for you to stick to a routine with our refill system.
                  </p>

                <h4>Refill Reminder</h4>
                <p>Don’t forget to keep your green lid and base as you will only receive the inner unit from us when you order a new refill</p> 
                
              {% endif %}


          </div>
        </div>
        <div>
        <h2>{{product.title}}</h2>
    <div class="description-product">{{product.description}}
<!--         <div class="description-add-product"> <p>The easiest way to optimize your energy and focus throughout the day.</p>
      <p>A 30-day supply of Stamina: a convenient daily dose of three capsules that contains, nootropics, adaptogens, and clinically proven ingredients to boost your energy and focus.*</p>
      </div>     -->
          </div>
          
   <div class="tabs product-inside-btn">
            <div class="remedy_content-inner">
              <h1 class="right_content hide">{{ product.title }}</h1>
                   {% for variant in product.variants %}
                  <input type="hidden" name="id" value="{{ variant.id}}">
                 {% if variant.inventory_policy  == "continue" %}
                  <div class="custom-form-new">
                    <button type="submit" name="" >
                      Pre-Order
                    </button>
                  </div>
                 {% endif %}
                  {% endfor %}

            </div>
            <script type="application/ld+json">{{ product|json }}</script>
          </div>
    {% if product.title contains "Stamina" %}
            <div class="product-benefits">
              <h2>Benefits</h2>
<ul>
    <li>

<svg width="67" height="53" viewBox="0 0 67 53" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M38.0257 20.1921L39.901 1L29.6205 15.026L19.3451 29.052H29.0574L27.0942 51.3644L37.3748 35.7782L47.6553 20.1921H38.0257Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M1 26.185H7.70042" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M7.70068 8.64481L12.1229 13.6766" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M7.08582 43.7248L12.1228 39.3026" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M65.9999 26.1849H59.2943" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M59.2938 43.7225L54.8716 38.6855" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M59.9085 8.64481L54.8716 13.067" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>

        <span>Energy</span>
    </li>  
  <li>
      
<svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M37.6052 5.45493H50.5504V18.3947" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M5.45526 37.6076V50.5528H18.395" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M5.45526 18.3948V5.45505H18.395" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M50.5512 37.6076V50.5528H37.6061" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M28.0027 36.5566C32.7272 36.5566 36.5572 32.7266 36.5572 28.0021C36.5572 23.2775 32.7272 19.4476 28.0027 19.4476C23.2782 19.4476 19.4482 23.2775 19.4482 28.0021C19.4482 32.7266 23.2782 36.5566 28.0027 36.5566Z" stroke="black" stroke-width="2" stroke-miterlimit="10"/>
<path d="M28.0025 1V11.3043" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M28.0025 54.9993V44.7004" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M55.0001 28.0032H44.7012" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M1 28.0037H11.3043" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>

        <span>Focus</span>
    </li>
      <li>
       
<svg width="43" height="50" viewBox="0 0 43 50" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M24.0187 22.3259V15.9205H19.0018V22.3259" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M24.0188 27.3442V33.7496H19.0019V27.3442" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M24.0193 22.3258H30.4247V27.3427H24.0193" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M19.001 27.3427H12.5956V22.3258H19.001" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M21.5099 1C28.3382 3.29076 35.1683 5.58152 42 7.87228V29.077C41.9603 29.7889 41.8688 30.4969 41.7263 31.1955C40.3934 37.7839 34.996 41.9144 33.141 43.3284C29.6771 45.9135 25.7041 47.7342 21.4845 48.6701" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M21.5105 48.6701C17.2913 47.7327 13.3186 45.9122 9.85392 43.3284C8.00407 41.9144 2.60152 37.8042 1.26862 31.1955C1.12739 30.4968 1.0376 29.7888 1 29.077V7.87228L21.4902 1" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>

        <span>Immunity</span>
    </li>
      <li>
       
<svg width="71" height="52" viewBox="0 0 71 52" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M70 30.1711L63.2614 22.3123C63.0353 22.0499 62.7552 21.8394 62.4403 21.6951C62.1254 21.5508 61.7831 21.4761 61.4368 21.4761C61.0904 21.4761 60.7481 21.5508 60.4332 21.6951C60.1183 21.8394 59.8382 22.0499 59.6121 22.3123C57.962 24.2233 56.316 26.1343 54.674 28.0453C54.4479 28.3087 54.1675 28.5201 53.852 28.6651C53.5366 28.81 53.1935 28.885 52.8463 28.885C52.4992 28.885 52.1561 28.81 51.8407 28.6651C51.5252 28.5201 51.2448 28.3087 51.0187 28.0453L46.1047 22.3184C45.8786 22.056 45.5985 21.8454 45.2836 21.7011C44.9687 21.5568 44.6264 21.4821 44.28 21.4821C43.9337 21.4821 43.5913 21.5568 43.2764 21.7011C42.9616 21.8454 42.6815 22.056 42.4554 22.3184L37.5113 28.0513C37.2852 28.3137 37.0051 28.5242 36.6902 28.6685C36.3753 28.8129 36.033 28.8876 35.6866 28.8876C35.3402 28.8876 34.9979 28.8129 34.6831 28.6685C34.3682 28.5242 34.0881 28.3137 33.862 28.0513L28.9359 22.3184C28.7098 22.0549 28.4294 21.8435 28.1139 21.6986C27.7985 21.5536 27.4554 21.4786 27.1083 21.4786C26.7611 21.4786 26.4181 21.5536 26.1026 21.6986C25.7872 21.8435 25.5067 22.0549 25.2806 22.3184C23.0324 24.9319 20.7882 27.5414 18.548 30.147" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M52.4641 10.0211L45.2377 1.63245C45.0681 1.43515 44.8579 1.27681 44.6214 1.16826C44.385 1.05971 44.1279 1.00351 43.8677 1.00351C43.6075 1.00351 43.3504 1.05971 43.114 1.16826C42.8775 1.27681 42.6673 1.43515 42.4977 1.63245L36.6443 8.4313C36.4747 8.6286 36.2645 8.78695 36.028 8.8955C35.7916 9.00405 35.5345 9.06024 35.2743 9.06024C35.0141 9.06024 34.757 9.00405 34.5205 8.8955C34.2841 8.78695 34.0739 8.6286 33.9043 8.4313L28.081 1.63847C27.9114 1.44117 27.7011 1.28283 27.4647 1.17428C27.2282 1.06573 26.9712 1.00954 26.711 1.00954C26.4508 1.00954 26.1937 1.06573 25.9572 1.17428C25.7208 1.28283 25.5106 1.44117 25.341 1.63847L19.5056 8.42528C19.336 8.62259 19.1258 8.78093 18.8894 8.88948C18.6529 8.99803 18.3958 9.05423 18.1356 9.05423C17.8754 9.05423 17.6184 8.99803 17.3819 8.88948C17.1455 8.78093 16.9352 8.62259 16.7656 8.42528L10.9303 1.63245C10.7607 1.43412 10.5501 1.27489 10.3131 1.16571C10.0761 1.05653 9.81821 1 9.55726 1C9.2963 1 9.03844 1.05653 8.80142 1.16571C8.5644 1.27489 8.35386 1.43412 8.18426 1.63245L1 10.0211" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M52.4637 50.3203L45.7251 42.4615C45.4989 42.1981 45.2185 41.9867 44.9031 41.8418C44.5876 41.6968 44.2446 41.6218 43.8974 41.6218C43.5503 41.6218 43.2072 41.6968 42.8917 41.8418C42.5763 41.9867 42.2959 42.1981 42.0697 42.4615C40.4237 44.3725 38.7777 46.2835 37.1317 48.1945C36.9056 48.4569 36.6255 48.6674 36.3106 48.8117C35.9957 48.9561 35.6534 49.0308 35.307 49.0308C34.9606 49.0308 34.6183 48.9561 34.3034 48.8117C33.9886 48.6674 33.7085 48.4569 33.4824 48.1945L28.5684 42.4676C28.3422 42.2042 28.0618 41.9927 27.7464 41.8478C27.4309 41.7029 27.0879 41.6278 26.7407 41.6278C26.3936 41.6278 26.0505 41.7029 25.735 41.8478C25.4196 41.9927 25.1392 42.2042 24.913 42.4676L19.975 48.2005C19.7489 48.4639 19.4685 48.6754 19.153 48.8203C18.8375 48.9652 18.4945 49.0403 18.1473 49.0403C17.8001 49.0403 17.4571 48.9652 17.1416 48.8203C16.8262 48.6754 16.5458 48.4639 16.3196 48.2005C14.6816 46.2895 13.0416 44.3786 11.3996 42.4676C11.1735 42.2042 10.8931 41.9927 10.5776 41.8478C10.2622 41.7029 9.91913 41.6278 9.57196 41.6278C9.2248 41.6278 8.88172 41.7029 8.56626 41.8478C8.2508 41.9927 7.9704 42.2042 7.74426 42.4676C5.49604 45.0811 3.25185 47.6907 1.01166 50.2962" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>

        <span>Stress</span>
    </li>
  
</ul>

            </div>
          {% endif %}
              {% if product.title contains "Remedy" %}
            <div class="product-benefits">
              <h2>Benefits</h2>
<ul>
    <li>
        
<svg width="43" height="48" viewBox="0 0 43 48" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M13.9753 21.969V21.8007C13.974 20.9695 14.2195 20.1567 14.6806 19.4651C15.1418 18.7736 15.7978 18.2346 16.5656 17.9163C17.3334 17.5981 18.1785 17.5149 18.9936 17.6775C19.8087 17.84 20.5573 18.2408 21.1444 18.8292L21.5002 19.1802L21.8223 18.8292C22.3009 18.3567 22.8846 18.0041 23.5255 17.8002C24.1664 17.5964 24.8465 17.5469 25.5102 17.656C26.4919 17.8181 27.3839 18.3239 28.027 19.0832C28.67 19.8425 29.022 20.8057 29.0201 21.8007V21.969C29.0206 22.5721 28.8971 23.1688 28.6572 23.7222C28.4173 24.2756 28.0663 24.7737 27.6258 25.1856L22.3368 30.1429C22.1158 30.3497 21.8244 30.4649 21.5218 30.4649C21.2191 30.4649 20.9278 30.3497 20.7068 30.1429L15.4178 25.1856C14.9681 24.7783 14.6078 24.2821 14.3595 23.7285C14.1112 23.1748 13.9804 22.5757 13.9753 21.969Z" stroke="black" stroke-width="2"/>
<path d="M13.49 4.68278C17.2382 3.08614 21.3774 2.64354 25.3785 3.41157C29.3796 4.1796 33.0607 6.12337 35.9513 8.99439C38.842 11.8654 40.8108 15.5332 41.6061 19.529C42.4013 23.5247 41.9869 27.6669 40.4158 31.4259" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M29.51 42.3751C25.7618 43.9717 21.6226 44.4143 17.6215 43.6463C13.6204 42.8782 9.93932 40.9345 7.04869 38.0634C4.15806 35.1924 2.18929 31.5246 1.39403 27.5289C0.59877 23.5331 1.01313 19.391 2.58422 15.632" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M12.413 5.18312L14.7401 1" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M12.4092 5.17346L16.9 6.82266" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M30.6016 42.0582L28.1062 46.1404" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M30.6067 42.0687L26.188 40.2319" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>

        <span>Recovery</span>
    </li>  
  <li>
      
<svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M22.5 44C34.3741 44 44 34.3741 44 22.5C44 10.6259 34.3741 1 22.5 1C10.6259 1 1 10.6259 1 22.5C1 34.3741 10.6259 44 22.5 44Z" stroke="#B3B3B3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M22.4994 38.2811C31.2152 38.2811 38.2807 31.2156 38.2807 22.4998C38.2807 13.784 31.2152 6.71851 22.4994 6.71851C13.7836 6.71851 6.71808 13.784 6.71808 22.4998C6.71808 31.2156 13.7836 38.2811 22.4994 38.2811Z" stroke="#666666" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M22.4995 32.1152C27.8093 32.1152 32.1137 27.8107 32.1137 22.501C32.1137 17.1912 27.8093 12.8867 22.4995 12.8867C17.1897 12.8867 12.8853 17.1912 12.8853 22.501C12.8853 27.8107 17.1897 32.1152 22.4995 32.1152Z" stroke="#333333" stroke-width="2" stroke-miterlimit="10"/>
<path d="M22.5004 26.5648C24.7454 26.5648 26.5653 24.7449 26.5653 22.4999C26.5653 20.255 24.7454 18.4351 22.5004 18.4351C20.2555 18.4351 18.4355 20.255 18.4355 22.4999C18.4355 24.7449 20.2555 26.5648 22.5004 26.5648Z" stroke="black" stroke-width="2" stroke-miterlimit="10"/>
</svg>

        <span>Inflammation</span>
    </li>
      <li>
       <svg width="43" height="50" viewBox="0 0 43 50" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M24.0187 22.3259V15.9205H19.0018V22.3259" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
<path d="M24.0188 27.3442V33.7496H19.0019V27.3442" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
<path d="M24.0193 22.3258H30.4247V27.3427H24.0193" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
<path d="M19.001 27.3427H12.5956V22.3258H19.001" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
<path d="M21.5099 1C28.3382 3.29076 35.1683 5.58152 42 7.87228V29.077C41.9603 29.7889 41.8688 30.4969 41.7263 31.1955C40.3934 37.7839 34.996 41.9144 33.141 43.3284C29.6771 45.9135 25.7041 47.7342 21.4845 48.6701" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
<path d="M21.5105 48.6701C17.2913 47.7327 13.3186 45.9122 9.85392 43.3284C8.00407 41.9144 2.60152 37.8042 1.26862 31.1955C1.12739 30.4968 1.0376 29.7888 1 29.077V7.87228L21.4902 1" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
</svg>
        <span>Immunity</span>
    </li>
      <li>
       
<svg width="40" height="45" viewBox="0 0 40 45" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M1 1H17.623" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M1 18.1193H17.623" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M1 18.1187L17.623 1" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M25.9458 11.9963H39" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M25.9458 25.4364H39" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M25.9458 25.438L39 11.9963" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M12.6754 34.1373H21.7191" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M12.675 43.446H21.7188" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M12.6754 43.4469L21.7191 34.1373" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>

        <span>Sleep</span>
    </li>
  
</ul>

            </div>
          {% endif %}
            {% if product.title contains "Mind" %}
            <div class="product-benefits">
              <h2>Benefits</h2>
<ul>
    <li>
        
<svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M37.6052 5.45483H50.5504V18.3946" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M5.4552 37.6077V50.5528H18.3949" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M5.4552 18.3948V5.45508H18.3949" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M50.5512 37.6077V50.5528H37.6061" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M28.0027 36.5565C32.7272 36.5565 36.5572 32.7265 36.5572 28.002C36.5572 23.2775 32.7272 19.4475 28.0027 19.4475C23.2782 19.4475 19.4482 23.2775 19.4482 28.002C19.4482 32.7265 23.2782 36.5565 28.0027 36.5565Z" stroke="black" stroke-width="2" stroke-miterlimit="10"/>
<path d="M28.0024 1V11.3043" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M28.0024 54.9993V44.7004" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M55.0001 28.0032H44.7012" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M1 28.0037H11.3043" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>

        <span>Focus</span>
    </li>  
  <li>
      
<svg width="45" height="46" viewBox="0 0 45 46" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M43.7043 39.944C42.0224 44.2512 33.0835 44.1763 22.2431 44.0865C13.3192 44.0116 2.12444 43.9168 1.08133 39.944C0.113076 36.2756 7.96891 29.962 15.1459 28.0305C17.5716 27.3717 20.107 27.1621 25.1279 26.7378C29.7595 26.3535 32.0754 26.1589 33.6725 26.5781C39.8214 28.1603 45.3564 35.7266 43.7043 39.944Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M40.9138 22.6356C39.9156 25.8497 32.7336 26.0394 24.1541 26.269C15.4498 26.5036 8.90159 26.6782 7.4592 23.3892C6.26136 20.6541 9.13617 16.7162 11.2324 14.8396C15.1403 11.3459 20.2162 11.5206 24.708 11.6753C27.8723 11.7801 30.9568 11.89 34.2608 13.8065C37.48 15.6681 41.8271 19.7707 40.9138 22.6356Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M40.0018 9.55863C39.333 11.6698 34.0126 11.6898 30.1047 11.6998C24.4399 11.6998 21.2806 11.9144 20.2475 10.0028C18.9748 7.6371 21.3855 3.01545 24.9291 1.51815C28.4726 0.0208561 31.9514 2.0971 34.4868 3.58941C35.1406 3.97871 40.7105 7.3027 40.0018 9.55863Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>

        <span>Tranquility</span>
    </li>
      <li>
       
<svg width="64" height="52" viewBox="0 0 64 52" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M45.4261 24.7639C45.6509 35.7465 38.9749 48.5336 32.0049 48.5336C25.0348 48.5336 18.3587 35.7465 18.5836 24.7639C18.8661 10.7316 30.3676 2.18185 32.0049 1C33.6479 2.15879 45.1436 10.7316 45.4261 24.7639Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M45.2358 22.268C48.8322 20.8531 52.6649 20.135 56.5297 20.1522C58.663 20.1636 60.789 20.4032 62.8713 20.867C63.0558 22.6312 64.0878 35.1415 55.025 43.4606C48.2106 49.7216 36.9109 53.0192 32.2354 49.0009L31.976 48.7646" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M18.5727 22.193C15.0289 20.8271 11.2612 20.1349 7.46327 20.1522C5.32997 20.1641 3.20404 20.4038 1.12161 20.8671C0.954425 22.6312 -0.0948385 35.1416 8.96796 43.4607C15.7189 49.6582 26.8976 53.0135 31.7576 49.001C31.8519 48.9269 31.9424 48.848 32.0285 48.7646" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>

        <span>Anti-Anxiety</span>
    </li>
      <li>
     
<svg width="82" height="48" viewBox="0 0 82 48" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M1 23.6321H7.83439" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M7.83447 5.74243L12.3451 10.8748" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M7.20752 41.5221L12.3452 37.0115" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M81 23.6321H74.1603" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M74.1603 41.5217L69.6497 36.384" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M74.7874 5.74243L69.6497 10.253" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M32.133 12.95C32.1057 12.9546 32.0778 12.9546 32.0505 12.95" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M28.3976 11.3465C27.9168 10.6824 27.6584 9.88326 27.6592 9.0634C27.6605 8.02199 28.0751 7.02367 28.812 6.28773C29.5488 5.5518 30.5476 5.13843 31.589 5.13843C32.3416 5.13707 33.0786 5.3526 33.7118 5.75923C34.345 6.16586 34.8476 6.74636 35.1594 7.43124" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M22.9033 18.8277C22.6777 18.2131 22.5626 17.5636 22.5633 16.9089C22.562 16.1767 22.7054 15.4514 22.9854 14.7748C23.2653 14.0982 23.6761 13.4836 24.1944 12.9663C24.7126 12.449 25.3279 12.0392 26.005 11.7604C26.6821 11.4817 27.4076 11.3395 28.1399 11.3421C29.615 11.3421 31.0297 11.9281 32.0728 12.9711C33.1158 14.0142 33.7018 15.4289 33.7018 16.9041V17.0352" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M27.2657 28.5087C27.0387 28.5397 26.8099 28.5559 26.5808 28.5572C25.8091 28.5589 25.0457 28.3989 24.3396 28.0877C23.6335 27.7765 23.0003 27.3209 22.4809 26.7502C21.5394 25.7269 21.019 24.3858 21.0237 22.9952C21.0231 22.2059 21.1915 21.4257 21.5174 20.7068C21.8433 19.9879 22.3192 19.3471 22.9133 18.8274V18.8274" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M22.4809 26.7598C22.02 27.198 21.6532 27.7255 21.4026 28.3101C21.1521 28.8947 21.0232 29.5241 21.0236 30.1601C21.0242 31.2968 21.4331 32.3954 22.1758 33.2558C22.9185 34.1162 23.9457 34.6812 25.07 34.8477" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M28.4367 42.4594C27.2517 42.3606 26.1472 41.8196 25.3426 40.944C24.5381 40.0683 24.0923 38.922 24.094 37.7329C24.0929 36.6936 24.4343 35.6829 25.0655 34.8572" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M35.6887 33.415C37.1448 33.7225 38.4511 34.5211 39.3885 35.6769C40.3259 36.8328 40.8376 38.2757 40.8378 39.764C40.8365 41.4856 40.1517 43.1363 38.9338 44.3532C37.716 45.5702 36.0648 46.2538 34.3432 46.2538C33.0986 46.2538 31.8802 45.8963 30.833 45.2237C29.7858 44.5511 28.9539 43.5918 28.4363 42.4599V42.4599" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M30.9092 5.20184C31.8095 3.61806 33.2082 2.37645 34.8876 1.67034C35.5288 1.41289 38.4385 0.261631 39.9832 1.73835C40.4778 2.25261 40.7798 2.92175 40.8382 3.63282V39.7639" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M38.0694 20.3433C37.9329 20.5271 37.7853 20.7023 37.6274 20.868C37.0907 21.4226 36.4439 21.8591 35.7287 22.1493C35.0135 22.4396 34.2456 22.5773 33.4741 22.5536C32.0823 22.5205 30.7546 21.9617 29.758 20.9894C29.1913 20.4408 28.7485 19.7772 28.4594 19.0432C28.1703 18.3092 28.0417 17.5219 28.0822 16.7341V16.7341" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M28.7083 33.884C30.3535 33.9744 31.9019 34.6904 33.0364 35.8854C34.1097 37.0507 34.7151 38.5711 34.7366 40.1552" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M30.7486 34.3458C30.6518 33.5278 30.7318 32.6985 30.9832 31.9141C31.2346 31.1296 31.6516 30.4084 32.2059 29.7991C32.7768 29.2106 33.4672 28.7513 34.2305 28.4521C34.9939 28.153 35.8125 28.0209 36.6312 28.0649" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M49.6206 13.0276C49.5935 13.0348 49.5651 13.0348 49.538 13.0276" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M46.5118 7.49427C46.8203 6.80792 47.3214 6.22591 47.9544 5.81891C48.5873 5.4119 49.3248 5.1974 50.0773 5.20147C50.5931 5.20083 51.104 5.30189 51.5808 5.49885C52.0575 5.69581 52.4908 5.98482 52.8558 6.34935C53.2208 6.71388 53.5103 7.14678 53.7079 7.6233C53.9054 8.09981 54.0071 8.6106 54.0071 9.12644C54.008 9.9463 53.7495 10.7454 53.2687 11.4095" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M47.9838 17.0984V16.9673C47.9838 15.4921 48.5698 14.0774 49.6129 13.0343C50.656 11.9913 52.0707 11.4053 53.5458 11.4053C54.2764 11.4046 55 11.5481 55.6751 11.8274C56.3502 12.1066 56.9636 12.5163 57.4802 13.0329C57.9968 13.5495 58.4064 14.1629 58.6857 14.838C58.965 15.5131 59.1085 16.2367 59.1078 16.9673C59.1056 17.6216 58.9905 18.2707 58.7678 18.886V18.886" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M58.7675 18.886C59.3614 19.4048 59.8373 20.0447 60.1632 20.7628C60.4892 21.4809 60.6576 22.2604 60.6571 23.049C60.662 24.441 60.1416 25.7837 59.1998 26.8088C58.6792 27.3789 58.0451 27.8338 57.3382 28.1442C56.6312 28.4546 55.8671 28.6136 55.0951 28.611C54.8677 28.6111 54.6405 28.5965 54.415 28.5672" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M56.606 34.9161C57.7304 34.7508 58.758 34.187 59.5016 33.3274C60.2453 32.4679 60.6554 31.3699 60.6572 30.2333C60.6566 29.5975 60.5271 28.9684 60.2766 28.384C60.0262 27.7996 59.6599 27.272 59.1999 26.833" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M56.6062 34.9158C57.2384 35.7428 57.5799 36.7554 57.5777 37.7963C57.5776 38.9898 57.1275 40.1394 56.3171 41.0155C55.5067 41.8916 54.3957 42.4299 53.2058 42.5228V42.5228" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M40.8378 39.6521C40.8378 39.7104 40.8378 39.7687 40.8378 39.827V39.8804C40.8532 41.5928 41.5442 43.2298 42.7605 44.4352C43.9769 45.6406 45.62 46.3168 47.3325 46.3168C48.5773 46.3179 49.7961 45.9602 50.8428 45.2865C51.8896 44.6128 52.7199 43.6516 53.2345 42.5181" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M50.7574 5.26048C49.8572 3.6767 48.4584 2.43508 46.779 1.72898C46.1378 1.47638 43.2281 0.32512 41.6834 1.80184C41.1913 2.31724 40.8912 2.98606 40.8333 3.69632V39.8225" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M53.244 17.5305C53.41 18.3016 53.4091 19.0993 53.2416 19.8701C53.074 20.6409 52.7436 21.3669 52.2724 21.9995C51.4488 23.1167 50.2349 23.8832 48.8721 24.1466C48.1142 24.2937 47.334 24.2811 46.5812 24.1097C45.8284 23.9382 45.1197 23.6116 44.5002 23.1508C44.3173 23.0153 44.1436 22.8676 43.9805 22.7088" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M52.3311 35.4919C50.6859 35.5865 49.1384 36.3038 48.003 37.4981C46.9328 38.6634 46.3277 40.1812 46.3028 41.7631" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M50.2959 35.9525C50.3953 35.1351 50.3165 34.3059 50.0649 33.5219C49.8134 32.7378 49.395 32.0176 48.8386 31.4106C48.2685 30.8211 47.5783 30.3611 46.8147 30.0619C46.0512 29.7627 45.2322 29.6312 44.4133 29.6764" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M44.1948 9.86558C43.4637 9.82817 42.7414 10.0387 42.1449 10.4631C41.7456 10.7737 41.4207 11.1695 41.1938 11.6216C40.9669 12.0737 40.8438 12.5707 40.8333 13.0765" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>

        <span>Clarity</span>
    </li>
  
</ul>

            </div>
          {% endif %}
            <div class="product-drop-down pdd-top">
                <h2>Key Ingredients</h2>
              
              {%if product.title == "Stamina"%}
                <div>
                  <h3> KSM66® Ashwagandha</h3>
                  <p>
Ashwagandha is a powerful root extract from India. We have chosen the patented version KSM66® for its award winning properties. It’s backed by 24+ clinical studies, 14 years of research & development, and it’s clinically proven to reduce stress, enhance memory, muscle size and sexual performance. It’s also a powerful anti-inflammatory.
                  </p><h3>
                  Cognizin®</h3><p>
Our nootropic Cognizin, a proven and patented version of the brain nutrient citicoline. Promotes better focus and concentration and also nourishes your brain in the long-term.
                  </p>
                  <h3>
                    Panax Ginseng</h3>
                  <p>
The power packed root extract Panax Ginseng from Asia. Commonly referred to as the ‘True Ginseng’, it is the most researched of all Ginseng varieties. It’s effective for mood, immunity, cognition, exercise and a healthy libido.
                  </p>
                  <h3>
                    K2VITAL® DELTA</h3><p>
K2VITAL® DELTA is the world’s most bioavailable, all-trans Vitamin K2. It greatly improves both bone and heart health via the regulation of calcium balance in the body. Furthermore, it ensures calcium is not deposited in the arteries, where it can build up and cause serious cardiovascular risk.
                  </p>
              </div>
              
              {%endif%}
              
               {%if product.title == "Remedy"%}
                        <div>
                          
                       <h3>    KSM66® Ashwagandha</h3>
                          <p>
Ashwagandha is a powerful root extract from India. We have chosen the patented version KSM66® for its award winning properties. It’s backed by 24+ clinical studies, 14 years of research & development, and it’s clinically proven to reduce stress, enhance memory, muscle size and sexual performance. It’s also a powerful anti-inflammatory.
                          </p>
 <h3>Safr’Inside™</h3>
                          <p>
Saffron has long been promoted by Persian and Ayurvedic medical practices as an effective mood stabiliser. We added it to our formula when we discovered the patented saffron extract, Safr’Inside™, which has the highest concentration in real Safranal that is effective for serotonin amplification.
                          </p>
 <h3>Coenzyme Q10</h3>
                          <p>
Coenzyme Q10 is found in every cell in the body, with the highest levels in the heart, liver, kidneys and pancreas. It's important for organ function, as well as cellular energy production. It also acts as an antioxidant to help protect cells against free radical damage.
                          </p>
 <h3>Elderberry</h3>
                          <p>
Elderberry is a powerful antioxidant. It has been used traditionally for centuries in Europe and other parts of the world for its benefits to the immune system. We use Haschberg elderberries that are harvested in Poland, and our extraction process avoids the use of chemicals or solvents.
                          </p>
                   </div>
               {%endif%}
              
                    {%if product.title == "Mind"%}
                          <div>
                             <h3>
KSM66® Ashwagandha
                            </h3>
                          <p>
Ashwagandha is a powerful root extract from India. We have chosen the patented version KSM66® for its award winning properties. It’s backed by 24+ clinical studies, 14 years of research & development, and it’s clinically proven to reduce stress, enhance memory, muscle size and sexual performance. It’s also a powerful anti-inflammatory.
    </p>
                             <h3>
Grap'Inside™
              </h3>
                          <p>
Grapes have been used as traditional treatments in Europe for thousands of years. They are a powerful antioxidant with strong cognitive and memory benefits. We added them to our formula when we discovered the patented grape seed extract, Grap’Inside™ and its high bioavailability, backed up by clinical studies.
    </p>
                             <h3>
Safr’Inside™
          </h3>
                          <p>
Saffron has long been promoted by Persian and Ayurvedic medical practices as an effective mood stabiliser. We added it to our formula when we discovered the patented saffron extract, Safr’Inside™, which has the highest concentration in real Safranal that is effective for serotonin amplification.
    </p>
                             <h3>
L-Theanine
      </h3>
                          <p>
L-Theanine is an amino acid that stimulates the release of dopamine and serotonin in the brain. It has a relaxing effect without drowsiness. Found primarily in green and black tea and some mushrooms. Numerous studies have shown L-theanine helps reduce stress and anxiety.
     </p>
                </div>
              {%endif%}
              
            </div>
            <div class="product-drop-down pdd-middle">
              <h2>How to take</h2>
            
            {%if product.title == "Stamina"%}
              <div>
                <p>
                  Our Stamina capsules are designed to be small and comfortable to swallow. Simply take three along with your first meal of the day.
                </p>
            </div>
            
            {%endif%}
            
             {%if product.title == "Remedy"%}
                      <div>
                        <p>
                          Our Remedy capsules are designed to be small and comfortable to swallow. Simply take three along with your first meal of the day.
                        </p>
                      </div>
             {%endif%}
            
                  {%if product.title == "Mind"%}
                        <div>
                          <p>
                            Our Mind capsules are designed to be small and comfortable to swallow. Simply take three along with your first meal of the day.
                          </p>
                        </div>
            {%endif%}
            
            </div>
            <div class="product-drop-down pdd-bottom">
            <h2>Subscription Detail</h2>
          
          {%if product.title == "Stamina"%}
            <div>
              <p>When you subscribe we’ll send you a refill right on time every month, so you’ll never run out. </p>

               <p> Simply pop out the refill, recycle, and replace.</p>
          </div>
          
          {%endif%}
          
           {%if product.title == "Remedy"%}
            <div>
                <p>When you subscribe we’ll send you a refill right on time every month, so you’ll never run out. </p>

                <p> Simply pop out the refill, recycle, and replace.</p>
            </div>
           {%endif%}
          
                {%if product.title == "Mind"%}
              <div>
                <p>When you subscribe we’ll send you a refill right on time every month, so you’ll never run out. </p>

                <p> Simply pop out the refill, recycle, and replace.</p>
              </div>
          {%endif%}
          
            </div>

          <div class="product-bg-image-container">
            <div class="product-bg-image-{{ product.title }} product-bg-image-uni">
              
            </div>
          </div>

          <div class="product-bg-image-container product-bg-image-container-bottom">
            <div class="product-bg-image-{{ product.title }}-bottom product-bg-image-uni">
              
            </div>
          </div>

          <div class="product-description product-description-for-mobile product-description-{{ product.title }}">
            <h2>How can {{ product.title }} help you?</h2>

            {% if product.title contains "Stamina" %}
            <p>Do you experience the mid-afternoon crash, find it hard to apply your brain to tasks, or struggle to motivate yourself? </p>

            <p>Many of us find it hard to maintain our focus and energy levels throughout the day. Finding a balance between work, relationships, exercise and leisure time can be difficult to manage. 
            </p>
              
              <p>Stamina, with its unique blend of nootropics, adaptogens and clinically-proven ingredients can help optimise your energy and focus. Nootropics boost the blood flow to your brain cells, enhancing your attention span, cognition and memory, and increasing your ability to feel alert and awake. Adaptogens stimulate your body’s ability to protect you from stress, combating fatigue and balancing your hormone response.
              </p>
              <div class="des-badges des-badges-{{ product.title }}">
                <div class="des-badge">Stimulate Cognition</div>
                <div class="des-badge">Enhance Vitality</div>
                <div class="des-badge">Regulate Mood</div>
                <div class="des-badge">Increase Immunity</div>
              </div>
              <h4>Why should I choose Legacy Vitamins?</h4>
                <p>
                 Many generic vitamins are low-quality and difficult for your body to absorb, so we don’t use them. Our capsules include only the most effective, clinically-proven ingredients and natural extracts. </p>

                 <p> Transparency is important to us, which is why we don’t hide what goes into our unique vitamin blends. We don’t pad our products out with filler, artificial colours, sweeteners, sugar or caffeine, and we’ve sought out the best possible extracts for maximum efficacy.</p>

                
                <h4> How quickly will I notice a difference?</h4>
                <p>You can expect to feel the effects of Mind within a few hours, and you can choose when to take it depending on the result you would like to achieve. To elevate your focus and mental clarity, take Mind with your first meal of the day. Take it later in the day to help you wind down and fight stressors. </p>

                <p>Some of the ingredients have a compounding effect that you will notice getting stronger over time, so we’ve made it easy for you to stick to a routine with our refill system.</p>

                <h4>Refill Reminder</h4>
                <p>Don’t forget to keep your green lid and base as you will only receive the inner unit from us when you order a new refill</p> 
                
              {% endif %}

            {% if product.title contains "Remedy" %}
            <p>Do you find it hard to get enough good quality sleep, recover from aches and pains, or fight off colds and infections? </p>

            <p>Our frantic modern lifestyles can make it challenging for us to look after our bodies and get enough rest, leaving many of us feeling run-down and fragile. </p>
              
              <p>Remedy contains a powerful blend of antioxidants, fruit extracts, adaptogens and clinically-proven ingredients to help your body regain strength, optimising your ability to rest and recover. Antioxidants can help prevent or slow damage to your cells, and are found in high levels in fruit extracts, particularly Elderberry. Adaptogens can boost your immune system, help your body deal with stress, improve the function of your bodily systems and calm inflammation.
              </p>
              <div class="des-badges des-badges-{{ product.title }}">
                <div class="des-badge">Rejuvenate Body</div>
                <div class="des-badge">Lower Inflammation</div>
                <div class="des-badge">Regulate Mood</div>
                <div class="des-badge">Strengthen Immunity</div>
              </div>
              <h4>Why should I choose Legacy Vitamins?</h4>
                <p>
                 Many generic vitamins are low-quality and difficult for your body to absorb, so we don’t use them. Our capsules include only the most effective, clinically-proven ingredients and natural extracts. </p>

                 <p> Transparency is important to us, which is why we don’t hide what goes into our unique vitamin blends. We don’t pad our products out with filler, artificial colours, sweeteners, sugar or caffeine, and we’ve sought out the best possible extracts for maximum efficacy.</p>

                
                <h4> How quickly will I notice a difference?</h4>
                <p>You can expect to feel the effects of Mind within a few hours, and you can choose when to take it depending on the result you would like to achieve. To elevate your focus and mental clarity, take Mind with your first meal of the day. Take it later in the day to help you wind down and fight stressors. </p>

                <p>Some of the ingredients have a compounding effect that you will notice getting stronger over time, so we’ve made it easy for you to stick to a routine with our refill system.</p>

                <h4>Refill Reminder</h4>
                <p>Don’t forget to keep your green lid and base as you will only receive the inner unit from us when you order a new refill</p> 
                
              {% endif %}

            {% if product.title contains "Mind" %}
            <p>Do you feel as though you are stressed and anxious too often? Do you find it hard to switch off your thoughts and relax, or to focus on the task at hand? </p>

            <p>Many of us feel as though we are under constant pressure, and it can be difficult to unwind and feel calm even when we make time to do so. </p>
              
              <p>Mind is your tranquility ally: it contains a unique blend of advanced-form nootropics, adaptogens, antioxidants and amino acids to help you alleviate the effects of stress and feel more balanced. Nootropics promote a healthy brain structure and can help with mood and long-term cognitive function, while adaptogens can increase your resistance to stress and help balance your emotions. Antioxidants help improve cellular function and amino acids stimulate the release of dopamine and serotonin, making you feel happier.
              </p>
              <div class="des-badges des-badges-{{ product.title }}">
                <div class="des-badge">Seratonin Amplification</div>
                <div class="des-badge">Anti-Anxiety</div>
                <div class="des-badge">Brighten Mood</div>
                <div class="des-badge">Stimulate Dopamine</div>
              </div>
              <h4>Why should I choose Legacy Vitamins?</h4>
                <p>
                 Many generic vitamins are low-quality and difficult for your body to absorb, so we don’t use them. Our capsules include only the most effective, clinically-proven ingredients and natural extracts. </p>

                 <p> Transparency is important to us, which is why we don’t hide what goes into our unique vitamin blends. We don’t pad our products out with filler, artificial colours, sweeteners, sugar or caffeine, and we’ve sought out the best possible extracts for maximum efficacy.</p>

                
                <h4> How quickly will I notice a difference?</h4>
                <p>You can expect to feel the effects of Mind within a few hours, and you can choose when to take it depending on the result you would like to achieve. To elevate your focus and mental clarity, take Mind with your first meal of the day. Take it later in the day to help you wind down and fight stressors. </p>

                <p>Some of the ingredients have a compounding effect that you will notice getting stronger over time, so we’ve made it easy for you to stick to a routine with our refill system.</p>

                <h4>Refill Reminder</h4>
                <p>Don’t forget to keep your green lid and base as you will only receive the inner unit from us when you order a new refill</p> 
                
              {% endif %}

              <div class="tabs">
                <div class="remedy_content-inner">
                  <h1 class="right_content hide">{{ product.title }}</h1>
                       {% for variant in product.variants %}
                      <input type="hidden" name="id" value="{{ variant.id}}">
                     {% if variant.inventory_policy  == "continue" %}
                      <div class="custom-form-new">
                        <button type="submit" name="" >
                          Pre-Order
                        </button>
                      </div>
                     {% endif %}
                      {% endfor %}
    
                </div>
                <script type="application/ld+json">{{ product|json }}</script>
              </div>

          </div>
          
          

          <div class="img-des hide mobile__show">
           “We crafted our vitamin formulas to the highest standards and transparency, using only the most effective natural and clinical ingredients.” 
          </div>

            <div class="tabs mobile__show hide">

              <div class="remedy_content-inner">
              <h1 class="right_content hide">{{ product.title }}</h1>
                   {% for variant in product.variants %}
                  <input type="hidden" name="id" value="{{ variant.id}}">
                 {% if variant.inventory_policy  == "continue" %}
                  <div class="custom-form-new">
                    <button type="submit" name="" >
                      Pre-Order
                    </button>
                  </div>
                 {% endif %}
                  {% endfor %}

            </div>
            <script type="application/ld+json">{{ product|json }}</script>

          </div>

          

        </div>
    </div>
</div>
    {% endfor %}
{% schema %}
  {
    "name": "Product Content",
    "settings": [

  {
      "id": "collection",
      "type": "collection",
      "label": {
        "cs": "Kolekce",
        "da": "Kollektion",
        "de": "Kategorie",
        "en": "Collection",
        "es": "Colección",
        "fi": "Kokoelma",
        "fr": "Collection",
        "it": "Collezione",
        "ja": "コレクション",
        "ko": "컬렉션",
        "nb": "Samling",
        "nl": "Collectie",
        "pl": "Kolekcja",
        "pt-BR": "Coleção",
        "pt-PT": "Coleção",
        "sv": "Produktserie",
        "th": "คอลเลกชัน",
        "tr": "Koleksiyon",
        "vi": "Bộ sưu tập",
        "zh-CN": "收藏",
        "zh-TW": "商品系列"
      }
    },
    {
      "type": "range",
      "id": "grid",
      "label": {
        "cs": "Počet produktů na řádek",
        "da": "Produkter pr. række",
        "de": "Produkte per Reihe",
        "en": "Products per row",
        "es": "Productos por fila",
        "fi": "Tuotteita per rivi",
        "fr": "Produits par rangée",
        "it": "Prodotti per riga",
        "ja": "行あたりの商品数",
        "ko": "열 별 제품",
        "nb": "Produkter per rad",
        "nl": "Producten per rij",
        "pl": "Liczba produktów na wiersz",
        "pt-BR": "Produtos por linha",
        "pt-PT": "Produtos por linha",
        "sv": "Produkter per rad",
        "th": "สินค้าต่อแถว",
        "tr": "Satır başına ürün",
        "vi": "Số sản phẩm trên một hàng",
        "zh-CN": "每行产品数",
        "zh-TW": "每列產品數"
      },
      "min": 1,
      "max": 5,
      "step": 1,
      "default": 3
    }]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
